body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,input,textarea,select,option{
    margin: 0;
    padding:0;
    /*设置列表样式*/
    list-style:none;
}
body{
    background: #e9eaed;
    font-family: 微软雅黑;
    line-height: 1.5;
}
/*header设置*/
.header{
    width: 100%;
    height: 60px;
    background: black;
}
/*img{*/
/*    width: 100%;*/
/*    !*height: 100%;*!*/
/*}*/
.headerBox{
    width: 1200px;
    height: 100%;
    /*background: antiquewhite;*/
    margin: auto;
    line-height: 60px;

}
.headerBox > h1 > a{
    /*补充部分：width可以不写 margin-right可以添加*/
    /*width: 160px;*/
    height: 100%;
    /*background: aqua;*/
    float: left;
    margin-right: 75px;
    /*font-weight: normal;*/
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
.headerBox .search{
    width: 32px;
    height: 34px;
    /*background: bisque;*/
    float: right;
    /*line-height: 60px;*/
    overflow: hidden;
    margin-right: 16px;
    margin-top: 10px;
}
.search img{
    width: 100%;
    height: 100%;
}
.headerBox .nav{
    /*padding: 20px;*/
    /*width: 730px;*/
    height: 100%;
    /*background: coral;*/
    float: left;
    text-align: center;
}
.nav li{
    /*display: inline;*/
    color: white;
    align:center;
    /*padding: 5px;*/
    /*补充部分(浮动（父类中的宽度可以不写730px、display可以不写）、右或左边框\上述内填充可以删去)*/
    float: left;
    margin-right: 36px;

}
.nav li a{
    color: white;
    text-decoration: none;
}
.nav a{
    font-family: 微软雅黑;
    font-size: 16px;
}
a:hover{
    color: #00c1de;
}
a{
    /*去掉下划线*/
    text-decoration: none;
}
/*header结束*/

/*内容——begin*/
.talk{
    width: 1140px;
    height: auto;
    padding: 30px 30px 80px 30px;
    margin: 20px auto ;
    background: white;
    /*position: relative;*/

}
.talk .top{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    /*background: yellow;*/
    position: relative;
}
.talk .top::before{
    content: '';
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #333;
    transition: all .15s ease-in;
}
.talk .top:hover::before{
    width: 80px;
}
.talk .top p{
    color: #484848;
    font-size: 16px;
    line-height: 40px;
}
.talk .speak{
    /*position: relative;*/
}
.speak .photo{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    /*background: yellow;*/
}
.photo li{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #000;
    float: left;
}
.photo li img{
    width: 100%;
    height: 100%;
}
.speak .textarea{
    width: 100%;
    height: 172px;
    margin-bottom: 10px;
    /*不让多行文本框移动大小---大小固定*/
    resize: none;
}
.speak .sub{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    /*position: relative;*/
    /*background: blue;*/
    overflow: hidden;
}
.speak .sub .input_bottom{
    /*position: absolute;*/
    /*right: -16px;*/
    /*bottom: -42px;*/
    /*width: ;*/
    background: #040404;
    color: #fff;
    line-height: 30px;
    padding: 0 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: right;
    display: block;
}

/*.talk .relax{*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background: #000;*/
/*}*/
.talk .relax{
    width: 100%;
    height: auto;
    padding: 20px 10px;
    margin: 10px 0;
    position: relative;
    border-bottom: 1px solid #ececec;
    overflow: hidden;
}
.talk .relax > .photo{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
.talk .relax > .photo > img{
    width: 100%;
    height: 100%;
}
.talk .relax > .look_web{
    float: left;

}
.relax > .look_web > p{
    color: #000;
    font-size:15px;
    line-height: 1.5;
    display: block;
    margin-bottom: 10px;
}
.relax > p{
    color: #999;
    font-size: 12px;
    position: absolute;
    right: 20px;
    top: 18px;
}

.talk .return{
    width: 100%;
    height: auto;
    background: #f9f9f9;
    border-bottom: 1px dashed #dedddd;
    padding-bottom: 10px;
    /*margin-bottom: 20px;*/
    font-size: 15px;
}
/*内容——end*/


/*headerBottom_begin*/
.headerBottom{
    width: 100%;
    height: 190px;
    background: black;
    margin-top: 30px;
}
.headerBottom .bottomTop{
    width: 100%;
    height: 10px;
    background: #00c1de;
}
.headerBottom .bottomList{
    width: 100%;
    height: 100px;
    /*padding-top: 40px;*/
    margin-top: 40px;
    padding-bottom: 50px;
    /*background: gray;*/
}
.bottomList .bottom_ph1{
    width: 100px;
    height: 100px;
    margin-left: 180px;
    /*background: blanchedalmond;*/
    float: left;
}
.bottom_ph1 img , .bottom_ph2 img{
    width: 100%;
    height: 100%;
}
.bottomList .bottom_ph2{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    /*background: blanchedalmond;*/
    float: left;
}
.bottomList .bottom_text{
    width: 760px;
    height: 100px;
    /*background: fuchsia;*/
    float: left;
    margin-left: 20px;
}
.bottom_text p{
    line-height: 1.5;
    color: #695849;
}